.footer{
  margin-top: 50px;
  margin-left: 20px;
  font-size : 18px;
}
.main{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  padding-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow:0px 0px 8px 3px rgb(0 0 0 / 36%);
  height:500px;
  
}
.heros{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-left: 200px;
  grid-gap: 1em;
  height:100px;
  
}
.villans{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-right: 150px;
  grid-gap:1em;
  height:100px;
}
.score{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.content{
  border-radius: 15px; 
  border: 5px solid lightgrey ;
  text-align: center;
  box-shadow:0px 0px 8px 3px rgb(0 0 0 / 36%);
}

